
CREATE DATABASE QLDeTai
GO
USE QLDeTai
GO

CREATE TABLE BOMON(
	MABM nchar(5),
	TENBM nvarchar(50),
	PHONG char(5),
	DIENTHOAI char(11),
	TRUONGBM char(5),
	MAKHOA char(5),
	NGAYNHANCHUC date,
	PRIMARY KEY(MABM)
)

CREATE TABLE GIAOVIEN(
    MAGV char(5),
    HOTEN nvarchar(50),
    LUONG money,
    PHAI nchar(3),
    NGAYSINH date,
    DIACHI nvarchar(100),
    GVQLCM char(5),
    MABM nchar(5),
    PRIMARY KEY(MAGV),
    FOREIGN KEY(GVQLCM) 
REFERENCES GIAOVIEN(MAGV)
)


CREATE TABLE GV_DT(
    MAGV char(5),
    DIENTHOAI char(11),
    PRIMARY KEY (MAGV, DIENTHOAI)
)

CREATE TABLE KHOA(
	MAKHOA char(5),
	TENKHOA nvarchar(50),
	NAMTL int,
	PHONG char(5),
	DIENTHOAI char(11),
	TRUONGKHOA char(5),
	NGAYNHANCHUC date,
	PRIMARY KEY(MAKHOA)
)

CREATE TABLE CHUDE(
	MACD nchar(5),
	TENCD nvarchar(50),
	PRIMARY KEY(MACD)
)

CREATE TABLE NGUOITHAN(
	MAGV char(5),
	TEN nvarchar(50),
	NGSINH date,
	PHAI nchar(3),
	PRIMARY KEY(MAGV, TEN)
)

CREATE TABLE CONGVIEC(
	MADT char(5),
	SOTT tinyint,
	TENCV nvarchar(50),
	NGAYBD datetime,
	NGAYKT datetime,
	PRIMARY KEY(MADT,SOTT)
)

CREATE TABLE THAMGIADT(
	MAGV char(5),
	MADT char(5),
	STT tinyint,
	PHUCAP float,
	KETQUA nchar(5),
	PRIMARY KEY(MAGV,MADT,STT)
)

CREATE TABLE DETAI(
	MADT char(5),
	TENDT nvarchar(50),
	CAPQL nvarchar(50),
	KINHPHI money,
	NGAYBD datetime,
	NGAYKT datetime,
	MACD nchar(5),
	GVCNDT char(5),
	PRIMARY KEY(MADT)
)

ALTER TABLE GIAOVIEN
ADD CONSTRAINT C_PHAI
CHECK (PHAI IN ('Nam', N'Nữ'))

ALTER TABLE GIAOVIEN
ADD CONSTRAINT
FK_GIAOVIEN_MABM
FOREIGN KEY (MABM)
REFERENCES BOMON(MABM)

ALTER TABLE BOMON
ADD CONSTRAINT
FK_BOMON_MAKHOA
FOREIGN KEY(MAKHOA)
REFERENCES KHOA(MAKHOA)

ALTER TABLE BOMON
ADD CONSTRAINT
FK_BOMON_TRUONGBM
FOREIGN KEY(TRUONGBM)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE KHOA
ADD CONSTRAINT
FK_KHOA_TRUONGKHOA
FOREIGN KEY (TRUONGKHOA)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE THAMGIADT
ADD CONSTRAINT
FK_THAMGIADT_MAGV
FOREIGN KEY (MAGV)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE THAMGIADT
ADD CONSTRAINT
FK_THAMGIADT_MADT
FOREIGN KEY (MADT,STT)
REFERENCES CONGVIEC(MADT,SOTT)

ALTER TABLE CONGVIEC
ADD CONSTRAINT
FK_CONGVIEC_MADT
FOREIGN KEY (MADT)
REFERENCES DETAI(MADT)

ALTER TABLE DETAI
ADD CONSTRAINT
FK_DETAI_GVCNDT
FOREIGN KEY (GVCNDT)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE DETAI
ADD CONSTRAINT
FK_DETAI_MACD
FOREIGN KEY (MACD)
REFERENCES CHUDE(MACD)

ALTER TABLE NGUOITHAN
ADD CONSTRAINT
FK_NGUOITHAN_MAGV
FOREIGN KEY (MAGV)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE GV_DT
ADD CONSTRAINT
FK_GV_DT_MAGV
FOREIGN KEY (MAGV)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE GIAOVIEN WITH CHECK CHECK CONSTRAINT C_PHAI;



INSERT INTO NGUOITHAN(MAGV,TEN,NGSINH,PHAI)
VALUES
('001',N'Hùng','1990-01-14','Nam'),
('001',N'Thủy','1994-12-08',N'Nữ'),
('003',N'Hà','1998-09-03',N'Nữ'),
('003','Thu','1998-09-03',N'Nữ'),
('007','Mai','2003-03-26',N'Nữ'),
('007','Vy','2000-02-14',N'Nữ'),
('008','Nam','1991-05-06','Nam'),
('009','An','1996-08-19','Nam'),
('010',N'Nguyệt','2006-01-14',N'Nữ')

INSERT INTO GV_DT(MAGV,DIENTHOAI)
VALUES
('001','0838912112'),
('001','0903123123'),
('002','0913454545'),
('003','0838121212'),
('003','0903656565'),
('003','0937125125'),
('006','0937888888'),
('008','0653717171'),
('008','0913232323')

INSERT INTO KHOA(MAKHOA,TENKHOA,NAMTL,PHONG,DIENTHOAI,TRUONGKHOA,NGAYNHANCHUC)
VALUES
('CNTT',N'Công nghệ thông tin','1995','B11','0838123456','002','2005-02-20'),
('HH',N'Hóa học','1980','B41','0838456456','007','2001-10-15'),
('SH',N'Sinh học','1980','B31','0838454545','004','2000-10-11'),
('VL',N'Vật lý','1976','B21','0838223223','005','2003-09-18')



INSERT INTO CHUDE(MACD,TENCD)
VALUES
('NCPT',N'Nghiên cứu phát triển'),
('QLGD',N'Quản lý giáo dục'),
(N'ƯDCN',N'Ứng dụng công nghệ')




INSERT INTO THAMGIADT(MAGV,MADT,STT,PHUCAP,KETQUA)
VALUES
('001','002',1,0.0,NULL),
('001','002',2,2.0,NULL),
('002','001',4,2.0,N'Đạt'),
('003','001',1,1.0,N'Đạt'),
('003','001',2,0.0,N'Đạt'),
('003','001',4,1.0,N'Đạt'),
('003','002',2,0.0,NULL),
('004','006',1,0.0,N'Đạt'),
('004','006',2,1.0,N'Đạt'),
('006','006',2,1.5,N'Đạt'),
('009','002',3,0.5,NULL),
('009','002',4,1.5,NULL)

UPDATE GIAOVIEN
SET MABM = 'MMT'
WHERE MAGV = '001' OR MAGV = '009'


UPDATE GIAOVIEN
SET MABM = 'HTTT'
WHERE MAGV = '002' OR MAGV = '003'


UPDATE GIAOVIEN
SET MABM = 'VS'
WHERE MAGV = '004' OR MAGV = '006'


UPDATE GIAOVIEN
SET MABM = N'VLĐT'
WHERE MAGV = '005'

UPDATE GIAOVIEN
SET MABM = 'HPT'
WHERE MAGV = '007' OR MAGV = '008' OR MAGV = '010'