USE QLDT1
--Q58
SELECT GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT
GROUP BY GV.HOTEN
HAVING COUNT(DISTINCT DT.MACD) = (SELECT COUNT(*) FROM CHUDE)

--Q59
SELECT DT.TENDT
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND GV.MABM = 'HTTT'
GROUP BY DT.TENDT
HAVING COUNT(DISTINCT TG.MAGV) = (SELECT COUNT(*) FROM GIAOVIEN WHERE MABM = 'HTTT')

--Q60
SELECT DT.TENDT
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT,BOMON BM
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND GV.MABM = BM.MABM AND BM.TENBM = N'Hệ thống thông tin'
GROUP BY DT.TENDT
HAVING COUNT(DISTINCT TG.MAGV) = (SELECT COUNT(*) FROM GIAOVIEN GV1, BOMON BM1 WHERE GV1.MABM = BM1.MABM AND BM1.TENBM = N'Hệ thống thông tin')

--Q61
SELECT GV.HOTEN 
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND DT.MACD = 'QLGD'
GROUP BY GV.HOTEN
HAVING COUNT(DISTINCT TG.MADT) =(SELECT COUNT(*) 
								FROM DETAI 
								WHERE MACD = 'QLGD')

--Q62
SELECT GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG 
WHERE GV.MAGV = TG.MAGV AND TG.MADT IN (SELECT T.MADT
										FROM GIAOVIEN G, THAMGIADT T
										WHERE G.MAGV = T.MAGV AND G.HOTEN = N'Trần Trà Hương')
GROUP BY GV.HOTEN
HAVING COUNT(DISTINCT TG.MADT) = (SELECT COUNT(DISTINCT TG.MADT)
									FROM GIAOVIEN GV, THAMGIADT TG
									WHERE GV.MAGV = TG.MAGV AND GV.HOTEN = N'Trần Trà Hương')
				
--Q63
SELECT DT.TENDT
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT,BOMON BM
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND GV.MABM = BM.MABM AND BM.TENBM = N'Hóa Hữu Cơ'
GROUP BY DT.TENDT
HAVING COUNT(DISTINCT TG.MAGV) = (SELECT COUNT(*) 
								  FROM GIAOVIEN GV1, BOMON BM1,THAMGIADT TG
								  WHERE TG.MAGV = GV1.MAGV AND GV1.MABM = BM1.MABM AND BM1.TENBM = N'Hóa Hữu Cơ')

--Q64
SELECT GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG
WHERE GV.MAGV = TG.MAGV AND TG.MADT = '006'
GROUP BY GV.HOTEN
HAVING COUNT(TG.STT) = (SELECT COUNT(*) 
						FROM CONGVIEC 
						WHERE MADT = '006' 
						GROUP BY MADT)

--Q65
SELECT GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT, CHUDE CD
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND DT.MACD = CD.MACD AND CD.TENCD = N'Ứng dụng công nghệ'
GROUP BY GV.HOTEN
HAVING COUNT(DISTINCT TG.MADT) =(SELECT COUNT(*) 
								 FROM DETAI D JOIN CHUDE C ON D.MACD = C.MACD
								 WHERE C.TENCD = N'Ứng dụng công nghệ')

--Q66
SELECT GV.HOTEN
FROM GIAOVIEN GV, GIAOVIEN TTH, THAMGIADT TG, DETAI DT
WHERE TG.MAGV = GV.MAGV AND TG.MADT = DT.MADT AND TTH.HOTEN = N'Trần Trà Hương' AND DT.GVCNDT = TTH.MAGV
GROUP BY GV.HOTEN
HAVING COUNT(DISTINCT TG.MADT) = (SELECT COUNT(DISTINCT DT.MADT)
									FROM GIAOVIEN TTH, DETAI DT
									WHERE TTH.HOTEN = N'Trần Trà Hương' AND DT.GVCNDT = TTH.MAGV)

--Q67
SELECT DT.TENDT
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT,BOMON BM JOIN KHOA KH ON BM.MAKHOA = KH.MAKHOA
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND KH.MAKHOA = 'CNTT' AND GV.MABM = BM.MABM
GROUP BY DT.TENDT
HAVING COUNT(DISTINCT TG.MAGV) = (SELECT COUNT(*) 
								  FROM GIAOVIEN G JOIN BOMON B ON G.MABM = B.MABM
												  JOIN KHOA K ON B.MAKHOA = K.MAKHOA
								  WHERE K.MAKHOA = 'CNTT')

--Q68
SELECT GV.MAGV,GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG JOIN DETAI DT ON TG.MADT = DT.MADT
WHERE GV.MAGV = TG.MAGV AND DT.TENDT = N'Nghiên cứu tế bào gốc'
GROUP BY GV.MAGV,GV.HOTEN
HAVING COUNT(TG.STT) = (SELECT COUNT(*)
						FROM CONGVIEC CV JOIN DETAI DT ON CV.MADT = DT.MADT
						WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
						GROUP BY CV.MADT)
				
--Q69
SELECT GV.MAGV,GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND DT.KINHPHI >=100
GROUP BY GV.MAGV,GV.HOTEN
HAVING COUNT(DISTINCT TG.MADT) = (SELECT COUNT(*) 
								  FROM DETAI 
								  WHERE KINHPHI >=100)

--Q70
SELECT DT.TENDT
FROM GIAOVIEN GV, THAMGIADT TG, DETAI DT,BOMON BM JOIN KHOA KH ON BM.MAKHOA = KH.MAKHOA
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND KH.TENKHOA = 'Sinh Học' AND GV.MABM = BM.MABM
GROUP BY DT.TENDT
HAVING COUNT(DISTINCT TG.MAGV) = (SELECT COUNT(*) 
									FROM GIAOVIEN G JOIN BOMON B ON G.MABM = B.MABM
													JOIN KHOA K ON B.MAKHOA = K.MAKHOA
									WHERE K.TENKHOA = 'Sinh Học')

--Q71
SELECT GV.MAGV,GV.HOTEN,GV.NGSINH
FROM GIAOVIEN GV, THAMGIADT TG JOIN DETAI DT ON TG.MADT = DT.MADT
WHERE GV.MAGV = TG.MAGV AND DT.TENDT = N'Ứng dụng hóa học xanh'
GROUP BY GV.MAGV,GV.HOTEN,GV.NGSINH
HAVING COUNT(TG.STT) = (SELECT COUNT(*)
						FROM CONGVIEC CV JOIN DETAI DT ON CV.MADT = DT.MADT
						WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
						GROUP BY CV.MADT)
--Q72
SELECT GV.MAGV,GV.HOTEN,BM.TENBM
FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM, THAMGIADT TG, DETAI DT, CHUDE CD
WHERE GV.MAGV = TG.MAGV AND DT.MADT = TG.MADT AND DT.MACD = CD.MACD AND CD.TENCD = N'Nghiên cứu phát triển'
GROUP BY GV.MAGV,GV.HOTEN,BM.TENBM
HAVING COUNT(DISTINCT TG.MADT) =(SELECT COUNT(*) 
								FROM DETAI D JOIN CHUDE C ON D.MACD = C.MACD
								WHERE C.TENCD = N'Nghiên cứu phát triển')

--Q73
SELECT GV.HOTEN, GV.NGSINH,KH.TENKHOA, TRGKHOA.HOTEN AS TRUONGKHOA
FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM
				JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA, GIAOVIEN TRGKHOA,THAMGIADT TG
WHERE TRGKHOA.MAGV = KH.TRUONGKHOA AND TG.MAGV = GV.MAGV AND
	  TG.MADT IN (SELECT T.MADT
				  FROM GIAOVIEN G, THAMGIADT T
				  WHERE G.MAGV = T.MAGV AND G.HOTEN = N'Nguyễn Hoài An')
GROUP BY GV.HOTEN, GV.NGSINH,KH.TENKHOA, TRGKHOA.HOTEN
HAVING COUNT(DISTINCT TG.MADT) = (SELECT COUNT(DISTINCT TG.MADT)
								  FROM GIAOVIEN GV, THAMGIADT TG
								  WHERE GV.MAGV = TG.MAGV AND GV.HOTEN = N'Nguyễn Hoài An')

--Q74
SELECT GV.MAGV,GV.HOTEN
FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM
				JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA AND KH.TENKHOA = N'Công nghệ thông tin',	THAMGIADT TG
WHERE TG.MAGV = GV.MAGV AND
	  TG.MADT IN
	  (SELECT DISTINCT TG.MADT
					FROM THAMGIADT TG JOIN GIAOVIEN GV ON TG.MAGV = GV.MAGV
									JOIN BOMON BM ON BM.MABM = GV.MABM AND BM.TRUONGBM = GV.MAGV
					WHERE BM.MABM IN (SELECT BM.MABM
									FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA AND KH.TENKHOA = N'Công nghệ thông tin'
									GROUP BY BM.MABM
									HAVING COUNT(GV.MAGV) >= ALL (SELECT COUNT(GV.MAGV)
																	FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA AND KH.TENKHOA = N'Công nghệ thông tin'
																	GROUP BY BM.MABM,BM.TENBM)))
GROUP BY GV.MAGV,GV.HOTEN
HAVING COUNT(TG.STT) IN
					(SELECT COUNT(TG.STT)
					FROM THAMGIADT TG JOIN GIAOVIEN GV ON TG.MAGV = GV.MAGV
									JOIN BOMON BM ON BM.MABM = GV.MABM AND BM.TRUONGBM = GV.MAGV
					WHERE BM.MABM IN (SELECT BM.MABM
									FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA AND KH.TENKHOA = N'Công nghệ thông tin'
									GROUP BY BM.MABM
									HAVING COUNT(GV.MAGV) >= ALL (SELECT COUNT(GV.MAGV)
																	FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM JOIN KHOA KH ON KH.MAKHOA = BM.MAKHOA AND KH.TENKHOA = N'Công nghệ thông tin'
																	GROUP BY BM.MABM,BM.TENBM))
					GROUP BY TG.MAGV)				
				


