USE QLDeTai

--Q1
SELECT HOTEN,LUONG
FROM GIAOVIEN
WHERE PHAI = N'Nữ'

--Q2
SELECT HOTEN,LUONG*1.1 AS LUONG_SAU
FROM GIAOVIEN

--Q3
SELECT MAGV
FROM GIAOVIEN
WHERE (HOTEN LIKE N'Nguyễn%' AND LUONG > 2000)
UNION
SELECT TRUONGBM
FROM BOMON
WHERE YEAR(NGAYNHANCHUC) > 1995

--Q4
SELECT GV.HOTEN
FROM GIAOVIEN GV, BOMON BM, KHOA KH
WHERE GV.MABM = BM.MABM AND BM.MAKHOA = KH.MAKHOA AND KH.MAKHOA = 'CNTT'

--Q5
SELECT *
FROM BOMON BM JOIN GIAOVIEN GV ON GV.MAGV = BM.TRUONGBM

--Q6
SELECT *
FROM GIAOVIEN GV JOIN BOMON BM ON GV.MABM = BM.MABM

--Q7
SELECT DT.TENDT, GV.HOTEN AS GVCNDT
FROM DETAI DT JOIN GIAOVIEN GV ON DT.GVCNDT = GV.MAGV

--Q8
SELECT *
FROM KHOA KH JOIN GIAOVIEN GV ON KH.TRUONGKHOA = GV.MAGV

--Q9
SELECT GV.HOTEN
FROM GIAOVIEN GV, THAMGIADT TG, BOMON BM
WHERE GV.MABM = 'VS'