USE QLDeTai
--Q27
SELECT COUNT(*) AS SLGV, SUM(LUONG) AS TONGLUONG
FROM GIAOVIEN

--Q28
SELECT GV.MABM, COUNT(GV.MAGV)AS SL_GIAOVIEN, AVG(LUONG) AS LUONG_TB
FROM GIAOVIEN GV
GROUP BY GV.MABM

--Q29
SELECT CD.TENCD,COUNT(DT.MADT) AS SL_DETAI
FROM DETAI DT, CHUDE CD
WHERE DT.MACD = CD.MACD
GROUP BY CD.MACD,CD.TENCD

--Q30
SELECT GV.HOTEN, COUNT( DISTINCT TG.MADT ) AS SL_DT
FROM THAMGIADT TG, GIAOVIEN GV
WHERE TG.MAGV = GV.MAGV
GROUP BY GV.MAGV, GV.HOTEN

--Q31
SELECT GV.HOTEN, COUNT(DT.MADT) AS SL_DETAICN
FROM GIAOVIEN GV, DETAI DT
WHERE GV.MAGV = DT.GVCNDT
GROUP BY GV.MAGV,GV.HOTEN

--Q32
SELECT GV.HOTEN, COUNT(NT.MAGV) AS SL_NGUOITHAN
FROM GIAOVIEN GV, NGUOITHAN NT
WHERE GV.MAGV = NT.MAGV
GROUP BY GV.MAGV,GV.HOTEN

--Q33
SELECT GV.HOTEN, COUNT( DISTINCT TG.MADT ) AS SL_DT
FROM THAMGIADT TG, GIAOVIEN GV
WHERE TG.MAGV = GV.MAGV
GROUP BY GV.MAGV,GV.HOTEN
HAVING COUNT(DISTINCT MADT) > 3

--Q34
SELECT COUNT(DISTINCT TG.MAGV) SL_GVTGDT
FROM THAMGIADT TG, DETAI DT
WHERE TG.MADT = DT.MADT AND DT.TENDT = N'Ứng dụng hóa học xanh'
